
@{
    ViewBag.Title = "Index";
}


<div id="tableContainer">
    @{
        Html.RenderAction("ProductsList");
    }
</div>

<div id="actionContainer">

</div>

<script>
	function focusAction(controlToFocus) {
		$('html, body').animate({
			scrollTop: $("#" + controlToFocus).offset().top - 100
		}, 1000);
	}
</script>

